@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 274 57% 99%;
		--foreground: 274 63% 4%;
		--muted: 34 13% 86%;
		--muted-foreground: 34 11% 33%;
		--popover: 274 57% 99%;
		--popover-foreground: 274 63% 4%;
		--card: 274 57% 98%;
		--card-foreground: 274 63% 3%;
		--border: 274 13% 91%;
		--input: 274 13% 91%;
		--primary: 319.15 37.3% 49.41%;
		--primary-foreground: 0 0% 100%;
		--secondary: 36 82.96% 56.27%;
		--secondary-foreground: 34 4.11% 16.99%;
		--accent: 33.96 2.36% 84.24%;
		--accent-foreground: 154 82% 3%;
		--destructive: 12 86% 38%;
		--destructive-foreground: 0 0% 100%;
		--ring: 319.15 37.3% 49.41%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
